body {
    background-image: url("/Resources/images/style/bg1.gif");
    background-repeat: repeat;
}

.banner {
    height: 157px;
    background-image: url("/Resources/images/style/bg_banner.jpg");
    background-repeat: no-repeat;
}

.itemColor {
    color: brown;
}

.inputColor {
    background-color: burlywood;
}

.btnColor {
    background-color: brown;
    color: black;
}

.listWidth {
    width: fit-content;
}

.title {
    font-family: "STXinwei", "KaiTi";
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.trColor {
    background-color: #cc9900;
}

.listItemColor {
    background-color: antiquewhite;
}

.trBg1 {
    width: 600;
    height: 40;
    background-image: url("/Resources/images/style/bg_tr1.jpg");
    background-repeat: no-repeat;
}

img {
    align-content: center;
    width: 90%;
    height: auto;
}
