<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="drugindex.master.cs" Inherits="中药检索.drugindex" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="/Css/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/Css/bootstrap/js/bootstrap.js"></script>
    <style>
        body{
            background-image: url("/Resources/images/style/background.jpg");
            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .auto-style1 {
            left: 0px;
            top: 1px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-success">
      <div class="container">
        <a class="navbar-brand" href="#">宝典后台管理</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="drugadd.aspx">药材管理</a>
            <a class="nav-link" href="#">中医古籍</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="row" style="height:70px;"></div>
    <div class="row" style="height:50px;">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-2 col-md-2 text-center fw-bold fs-3">
                操作菜单
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <div  class="col-sm-8 col-md-8 text-center fw-bold fs-3">
                操作
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-2 col-md-2">
                <ul class="list-group listWidth">
                    <li class="list-group-item listItemColor"><a href="drugadd.aspx" class="link-danger">药材管理</a></li>
                    <li class="list-group-item listItemColor"><a href="#" class="link-warning">药谱添加</a></li>
                </ul>
            </div>
            <div  class="col-sm-1 col-md-1">
            </div>
            <div  class="col-sm-7 col-md-7">
                <div class="row">
                    <form id="form1" runat="server">
                        <div>
                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
</body>
</html>
