<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="drugindex.master.cs" Inherits="中药检索.drugindex" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="/Css/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/Css/bootstrap/js/bootstrap.js"></script>
    <style>
        body{
            background-image: url("/Resources/images/style/background.jpg");
            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .auto-style1 {
            left: 0px;
            top: 1px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-warning">
      <div class="container">
        <a class="navbar-brand" href="#">宝典</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="#">24节气</a>
            <a class="nav-link active" href="drugindex.aspx">药材检索</a>
            <a class="nav-link" href="#">中医古籍</a>
            <a class="nav-link" href="#">论坛</a>
          </div>
        </div>
      </div>
    </nav>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
